* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light-grey: #c5c4c479;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--light-grey);
}

.wrapper {
	padding: 40px 40px;
	background-color: #020202;
	border-radius: 20px;
}
.wrapper header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--light-grey);
}

header h2 {
	margin-left: 20px;
	font-size: 2rem;
	font-family: 'Mynerve', cursive;
}

.tool-box {
	display: flex;
	justify-content: space-between;
	width: 400px;
}

header .tools {
	display: flex;
	align-items: center;
}

header .tools label {
	margin-right: 20px;
	font-size: 1rem;
}

.volume input {
	accent-color: #fff;
}

.keys-visibility input {
	position: relative;
	width: 60px;
	height: 30px;
	appearance: none;
	border: 1px solid #858484;
	border-radius: 20px;
	background-color: var(--light-grey);
}

.keys-visibility input::before {
	content: '';
	position: absolute;
	height: 20px;
	width: 20px;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	border-radius: 20px;
	background-color: #fff;
	transition: 0.2s ease;
}

.keys-visibility input:checked::before {
	left: 35px;
}
.keys {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.keys .white {
	width: 70px;
	height: 230px;
	border: 1px solid #000;
	border-radius: 0 0 8px 8px;
	background: linear-gradient(#fff 98%, var(--light-grey));
}

.keys .white:active {
	background: linear-gradient(to bottom, #fff 0%, var(--light-grey) 100%);
	box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
}

.keys .black {
	margin: 0 -22px;
	width: 44px;
	height: 140px;
	border: 1px solid #000;
	border-radius: 0 0 8px 8px;
	background: linear-gradient(#333, #000 98%);
	z-index: 2;
}

.keys .black:active {
	background: linear-gradient(to bottom, #000 0%, var(--light-grey) 100%);
	box-shadow: inset -5px 5px 20px rgba(255, 255, 255, 0.1);
}

.keys .key {
	position: relative;
	list-style: none;
	text-transform: uppercase;
	color: var(--light-grey);
	cursor: pointer;
}

.keys span {
	position: absolute;
	width: 100%;
	bottom: 1rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}

.keys .hide span {
	display: none;
}

.keys .black span {
	color: #fff;
}
.keys .white span {
	color: #000;
}

@media screen and (max-width: 615px) {
    header{
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 20px;
    }

	.keys .key:nth-child(13),
	.keys .key:nth-child(14),
	.keys .key:nth-child(15),
	.keys .key:nth-child(16),
	.keys .key:nth-child(17) {
		display: none;
	}

	.keys-white {
		width: 50px;
	}
}
